{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "ignorePath": ".prettierignore",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "trailingComma": "all"
}